

#ejercicio, body{
    background-color: rgb(253, 248, 240);
}

#ejercicio h1{
    color: rgb(15, 124, 106);
}

#ejercicio h2{
    color: blue;
}

.Rojo{
    font-weight: bold;
    color: red;
}

.Amarillo{
    color: goldenrod;
}

.Rojo1{
    color: red;
    text-decoration: underline;
}

.Azul1{
    color: blue;
    font-style: italic;
}

.Morado{
    color: rgb(122, 60, 194);
}

.tabla{
    border-collapse:collapse;
    border: 1px solid #0e0d0d;
    width: 27%;
}

.tabla th, .tabla td{
    
    border: 1px solid #0e0d0d;
}

.Amarillo1{
    font-weight: bold;
    color: goldenrod;
}

.Verde{
    color: green;
}

.Cursiva{
    font-style: italic;
}

.Dorado{
    
    color: rgb(192, 178, 52);
}

.Rosado{
    color: rgb(243, 46, 200);
}

.Verde1{
    color: green;
    text-decoration: underline;
}
