@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&display=swap');
body {
    background-color: rgba(184, 154, 74, 0.753);
}

/*Llamar una clase*/

.encabezado{
    background-color: rgba(199, 25, 199, 0.356);
    font-family: 'Gruppo', sans-serif;
}