@import url('https://fonts.googleapis.com/css2?family=Exo&family=Victor+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');


html,
body {
    margin: 0;
    padding: 0;
    
}

/*--------------   CABECERA   --------------------------------------------------------------------*/

header {
    background-color: rgb(248, 244, 238);
    border-radius: 20px;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*EDITAR LETRA*/
    font-family: 'Exo';
}

.Logo img {
    width: 150px;
    height: 90px;
}

.NombreEjercicio {
    width: 300px;
    margin-left: 25%;
    padding: 9px;
    text-align: center;
    color: rgb(214, 174, 136);
}

.menuEjer {
    position: relative; /* Cambiamos a posición relativa */
    display: inline-block; /* Aseguramos que ocupe solo el espacio necesario */
    margin-left: auto;
}

.popup-menu {
    display: none;
    position: absolute;
    top: 100%; /* Muestra el menú debajo del botón */
    right: 0;
    width: 200px; /* Ajusta el ancho del menú según tus necesidades */
    background-color: rgb(248, 244, 238);
    border: 1px solid #7d7474;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}


.menuEjer:hover .popup-menu {
    display: block;
}

.popup-menu ul {
    list-style: none;
    padding: 0;
}

.popup-menu li {
    margin-bottom: 10px;
}

.popup-menu a {
    text-decoration: none;
    color: #333;
}

.popup-menu a:hover {
    color: #cdacac; /* Cambiamos el color al pasar el mouse */
   
  }

/*--------------   SECCIONES   --------------------------------------------------------------------*/
section {

    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
}


hr {
    width: 350px;
    height: 2px;
    background: #f59595;
    border: 0;
    /*Separaciones arriba y abajo*/
    margin: 10px auto 10px auto;
}



#ejercicio {
    margin: 120px auto 0 auto;
    background-color: white;

}

#ejercicio form {

    padding: 20px;

}

.cartas {
    display: flex;
}

#resolucion {

    top: 0;
    left: 0;
    background-color: rgb(248, 244, 238);
    border-radius: 20px 20px 0px 0px;

}



#bt {
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resolucion h1 {
    padding-top: 20px;
    font-size: 30px;
    color: #f59595;
    font-family: 'Comic Neue';
    text-align: center;
}



code {
    color: white;
}

/*--------------   BOTON   --------------------------------------------------------------------*/

.boton {
    background-color: #e29898a4;
    padding: 10px 20px;
    border: 2px solid #e29898;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    font-family: 'Comic Neue';
    font-weight: bold;
}

.boton:hover {
    background-color: #da2f2f71;
    border: 2px solid #da2f2f6e;
}

.enlaceBoton {
    text-decoration: none;
    color: rgb(85, 91, 97);
}



/* ----------------------------------- PIE DE PAGINA ------------------------------*/
footer {
    padding: 20px;
    /* Agregar espacio interno para el contenido */
    width: 100%;
    /* Establecer el ancho al 100% */
    background-color: rgb(248, 244, 238);
}

/*--------------- CARTA -------------------------*/
.code-editor {
    max-width: 550px;
    background-color: #1d1e22;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: 10px auto 0 auto;
    justify-content: center;
    align-items: center;
    padding: 2px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.title {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1.57px;
    color: rgb(212 212 212);
}

.icon {
    width: 20px;
    transition: .2s ease;
}

.icon:hover {
    cursor: pointer;
    border-radius: 50px;
    background-color: #6e7281;
}

.editor-content {
    margin: 0 10px 10px;
    color: white;
}

.property {
    margin-left: 20px;
}

.property:hover {
    cursor: text;
}

.editor-content .color-0 {
    color: rgb(86 156 214);
}

.editor-content .color-1 {
    color: rgb(182 206 168);
}

.editor-content .color-2 {
    color: rgb(156 220 254);
}

.editor-content .color-3 {
    color: rgb(207 146 120);
}

.editor-content .color-4 {
    color: rgb(202, 76, 228);
}

.color-preview-1,
.color-preview-2,
.color-preview-3, .color-preview-7, .color-preview-8,
.color-preview-4, .color-preview-5, .color-preview-6, .color-preview-9,
.color-preview-red, .color-preview-blue, .color-preview-goldenrod, .color-preview-green,
.color-preview-white {
    height: 8px;
    width: 8px;
    border: 1px solid #eedede;
    display: inline-block;
    margin-right: 3px;
}

.color-preview-1 {
    background-color: #1d1e22;
}

.color-preview-1 {
    background-color: rgba(0, 0, 0, 0.5);
}

.color-preview-3 {
    background-color: rgb(130, 144, 156);
}

.color-preview-4 {
    background-color: rgb(245, 231, 220);
}

.color-preview-5 {
    background-color: rgb(253, 248, 240);
}

.color-preview-6{
    background-color: rgb(15, 124, 106);
}

.color-preview-7{
    background-color: rgb(122, 60, 194);
}

.color-preview-8{
    background-color: rgb(192, 178, 52);
}

.color-preview-9{
    background-color: rgb(243, 46, 200);
}

.color-preview-red {
    background-color: red;
}

.color-preview-white {
    background-color: rgb(255, 255, 255);
}

.color-preview-blue{
    background-color: blue;
}

.color-preview-goldenrod{
    background-color: goldenrod;
}

.color-preview-green{
    background-color: green;
}