@import url('https://fonts.googleapis.com/css2?family=Exo&family=Victor+Mono&display=swap');

#ejercicio, body{
    background-color: rgb(245, 231, 220);
}

ul{
    font-family:'Victor Mono';
}

.Enlaces{
    text-decoration: none;
    color: red;
}

.Enlaces:hover{
    background-color: red;
    color: white;
}



