

body{
    background-color: rgb(248, 239, 228);
}

h1{
    color: rgb(15, 124, 106);
}

h2{
    color: blue;
}

.Rojo{
    font-weight: bold;
    color: red;
}

.Amarillo{
    color: goldenrod;
}

.Rojo1{
    color: red;
    text-decoration: underline;
}

.Azul1{
    color: blue;
    font-style: italic;
}

.Morado{
    color: rgb(122, 60, 194);
}

.tabla{
    border-collapse:collapse;
    border: 1px solid #0e0d0d;
    width: 27%;
}

.tabla th, .tabla td{
    
    border: 1px solid #0e0d0d;
}

.Amarillo1{
    font-weight: bold;
    color: goldenrod;
}

.Verde{
    color: green;
}

.Cursiva{
    font-style: italic;
}

.Dorado{
    
    color: rgb(192, 178, 52);
}

.Rosado{
    color: rgb(243, 46, 200);
}

.Verde1{
    color: green;
    text-decoration: underline;
}


.boton {
    background-color: #e29898;
    padding: 10px 20px;
    border: 2px solid #e29898;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    font-weight: bold;
    font-family:'Victor Mono';
}

.boton:hover {
    background-color: #da2f2fab;
    border: 2px solid #da2f2fab;
}

.enlaceBoton {
    text-decoration: none;
    color: rgb(85, 91, 97);
}