@import url('https://fonts.googleapis.com/css2?family=Exo&family=Victor+Mono&display=swap');

body{
    background-color: rgba(248, 244, 238, 0.993);
}

.EjerAprendizaje{
    text-align: center;
    border: 1px solid #e29898;
    border-radius: 5px;
}

.Titulo1{
    font-family: 'Exo';
}

.boton1{
    display: inline-block;
    margin: 5px;
    
}

.boton {
    background-color: #e29898;
    padding: 10px 20px;
    border: 2px solid #e29898;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    font-weight: bold;
    font-family:'Victor Mono';
}

.boton:hover {
    background-color: #da2f2fab;
    border: 2px solid #da2f2fab;
    
}

a {
    text-decoration: none;
    color: aliceblue;
}
